@import "../node_modules/bootstrap/scss/functions";

$primary : #643AD7;

@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";



@import "../node_modules/bootstrap/scss/bootstrap.scss";

